In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import pickle
from pandas_profiling import ProfileReport
import numpy as np

C:\Users\syedf\AppData\Local\Temp/ipykernel_14288/4223361827.py:3: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [3]:
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\syedf\anaconda3\lib\site-packages (3.6.6)
Requirement already satisfied: ydata-profiling in c:\users\syedf\anaconda3\lib\site-packages (from pandas-profiling) (4.5.1)
Requirement already satisfied: pandas!=1.4.0,<2.1,>1.1 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.3.4)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.11.2)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.20.3)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (2.11.3)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (2.26.0)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.14.0)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.12.3)
Requirement already satisfied: pydantic<2,>=1.8.1 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.10.12)
Requirement already satisfied: dacite>=1.8 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.8.1)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (4.62.3)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (6.0)
Requirement already satisfied: imagehash==4.3.1 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (4.3.1)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (0.7.5)
Requirement already satisfied: scipy<1.12,>=1.4.1 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.7.1)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.9.1)
Requirement already satisfied: typeguard<3,>=2.13.2 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (2.13.3)
Requirement already satisfied: wordcloud>=1.9.1 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (1.9.2)
Requirement already satisfied: matplotlib<4,>=3.2 in c:\users\syedf\anaconda3\lib\site-packages (from ydata-profiling->pandas-profiling) (3.4.3)
Requirement already satisfied: PyWavelets in c:\users\syedf\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas-profiling) (1.1.1)
Requirement already satisfied: pillow in c:\users\syedf\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling->pandas-profiling) (8.4.0)
Requirement already satisfied: networkx>=2.4 in c:\users\syedf\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (2.6.3)
Requirement already satisfied: attrs>=19.3.0 in c:\users\syedf\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (21.2.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\users\syedf\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (0.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\syedf\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling->pandas-profiling) (1.1.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\syedf\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas-profiling) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\syedf\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas-profiling) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\syedf\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas-profiling) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\syedf\anaconda3\lib\site-packages (from matplotlib<4,>=3.2->ydata-profiling->pandas-profiling) (0.10.0)
Requirement already satisfied: six in c:\users\syedf\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib<4,>=3.2->ydata-profiling->pandas-profiling) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\syedf\anaconda3\lib\site-packages (from pandas!=1.4.0,<2.1,>1.1->ydata-profiling->pandas-profiling) (2021.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\syedf\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling->pandas-profiling) (1.1.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\syedf\anaconda3\lib\site-packages (from pydantic<2,>=1.8.1->ydata-profiling->pandas-profiling) (4.7.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\syedf\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\syedf\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\syedf\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\syedf\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling->pandas-profiling) (3.2)
Requirement already satisfied: patsy>=0.5.2 in c:\users\syedf\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling->pandas-profiling) (0.5.2)
Requirement already satisfied: packaging>=21.3 in c:\users\syedf\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling->pandas-profiling) (23.1)
Requirement already satisfied: colorama in c:\users\syedf\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling->pandas-profiling) (0.4.4)

In [4]:
import matplotlib.pyplot as plt
import pickle
from pandas_profiling import ProfileReport
import numpy as np

In [6]:
df = pd.read_csv('Advertising.csv')

In [7]:
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [8]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [9]:
df.tail()

     Unnamed: 0     TV  Radio  Newspaper  Sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [10]:
df.head(10)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6       21.2   10.6

In [11]:
df.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [15]:
df.shape

(200, 5)

In [12]:
pf = ProfileReport(df)

In [13]:
pf.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [ ]:
pf

In [ ]:
pf.to_file('test.html')

In [ ]:
df

In [ ]:
x = df[["TV"]]
x

In [ ]:
y = df.Sales

In [ ]:
y

In [ ]:
# y=mx+c
# sales=m.TV+c
# y=sales
# x=TV

In [ ]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()

In [ ]:
linear.fit(x,y)

In [ ]:
linear.intercept_

In [ ]:
linear.coef_

In [ ]:
file = 'linear_reg.sav'
pickle.dump(linear,open(file,'wb'))

In [ ]:
linear.predict([[45]])
# y=mx+c
# sales=m.TV+c
# y=0.0475*45+7.0325
# m=0.0475
# c=7.0325

In [ ]:
l = [4,5,63,5,9,1,3,54,51,45,23]

In [ ]:
for i in l:
    print(linear.predict([[i]]))

In [ ]:
saved_model = pickle.load(open(file,'rb'))

In [ ]:
saved_model.predict([[45]])

In [ ]:
linear.score(x,y)